.breadcrumbs
	margin: 10px 0 25px 
.post
	margin-bottom: 36px
	&__img 
		float: left
		margin: 0 21px 20px 0
	&__title
		margin-bottom: 23px 
		font-size: 16px 
		+cond
		color: #000
	&__meta
		margin-bottom: 26px 
	p
		margin-bottom:  28px
		+light
.comment
	padding:  20px 0 27px
	&__block
		padding: 20px
		margin-top: 20px 
		background-color: #fafafa
		border: 1px solid #f8f8f8
	&__img
		display: inline-block
		border: 1px  solid #68717a
		height: 33px
		width: 34px
	&__name
		display: inline-block
		vertical-align: middle
	&__meta
		display: inline-block
		text-align: right
