.page-top
	+ .masonry
		margin-top: 25px

.banner
	display: block
	position: relative
	color: #fff 
	img
		display: block
		width: 100% 
		height: auto
	&__title
		position: absolute
		font-size: 34px
		top: 24%
		left: 50%
		right: 0
		margin-left: -300px
		width: 600px
		line-height: 1.3
		text-transform: uppercase
		text-align: center
		letter-spacing: .4px
		+r(1400)
			top: 12% 
		strong
			font-weight: normal
			display: block
			+bold
	&__info
		position: absolute
		left: 0
		width: 100%
		bottom: 12%
		padding-left: 10px
		+clr
	&__box
		float: left
		margin-left: 51px
		padding: 36px 46px 61px
		width: 57.5%
		background: rgba(#202c3c, .3) 
		color: #fff
		font-size: 12px 
		line-height: 1.5
		&.is-small
			width: 29.2% 
			padding-right: 30px

.banner_title
	.banner__title
		position: absolute
		top: 0
		left: 0
		bottom: 0
		padding-left: 22px
		+vertical
		text-align: left
		margin: 0
		span
			vertical-align: middle
			font-size: 34px

.banner_static
	overflow: hidden
	padding: 37px 22px 34px
	img
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: auto
		+r(1500) 
			width: auto
			height: 100%
	.banner__title
		position: static
		margin: 0 0 13px
		width: auto
		text-align: left
	.banner__box
		padding: 28px 46px 32px 
		margin: 0
		position: relative
		z-index: 2
		display: block 
		width: 690px
.sidenav
	padding: 14px 20px 14px 45px
	font-size: 18px
	text-transform: uppercase
	+cond
	li
		margin-bottom: 30px
		&.is-active
			a
				border-color: $rose
			.btn-more
				display: block

	a
		display: inline-block 
		position: relative
		border-bottom: 3px solid transparent 
		color: #000
		+tr(border .3s)
		&:hover
			border-color: $rose
		.btn-more
			position: absolute
			right: -40px
			top: 3px
			display: none
			
.form
	+clr
	&__left
		float: left
		width: 41.5%
	&__right
		float: right
		padding-left: 20px
		width: 58.5%
		
.form-item
	display: inline-block
	vertical-align: middle
	padding: 0 9px 9px
	background: #f8f8f8
	.input
		background: #f9f9f9 
	.search-form
		width: 238px
	.search-form,
	.field
		display: inline-block
		margin: 9px 8px 0 0
		vertical-align: top
		margin-bottom: 0
	.field_cat
		width: 158px
		
.panel
	margin: 0 0 20px 
	background: #fafafa 
	border: 1px solid #f8f8f8
	border-bottom-width: 2px
	&__title
		position: relative
		padding: 12px 53px
		font-size: 16px
		+cond 
		color: #000 
		+tr(color .3s)
		cursor: pointer
		+nosel
		&.is-active
			&:after
				+rotate(-180)
				top: 18px
		&:hover
			color: $rose 
			&:before
				border-color: $rose
			&:after
				+arr(9,6,$rose,b)
		&:before
			content: ""
			position: absolute
			top: 9px
			left: 9px
			width: 24px
			height: 25px
			border: 2px solid #abafb3
			+tr(border .3s)
		&:after
			content: ""
			position: absolute
			top: 20px
			left: 17px
			+arr(9,6,#abafb3,b) 
			will-change: transform
			+transition(transform .3s, border .3s)
	&__body
		display: none
		padding: 7px 54px 15px
		font-size: 12px
		line-height: 1.67
		p
			margin-bottom: 20px
		

			
.map
	position: relative
	overflow: hidden
	img
		display: block
		width: 100%
		height: auto
	&__marker
		position: absolute
		width: 18px
		height: 26px

.calendar
	display: table
	width: 100%
	border: 1px solid #f8f8f8
	table-layout: fixed
	&__row
		display: table-row 
	&__head
		text-align: center
		.calendar__item
			background: #e5e5e5 
			color: #b0b2b6
			font-size: 10px
			height: 40px
			padding-top: 0
			vertical-align: middle
			+light
			text-transform: uppercase 
		+ .table__row
			.table__item
				border-top: 0
	&__item
		display: table-cell
		position: relative  
		vertical-align: top
		border-left: 1px solid #e5e5e5 
		border-top: 1px solid #e5e5e5 
		padding: 20px 0 0
		height: 100px 
		background: #fafafa 
		+tr(background .3s)
		font-size: 11px
		color: $gray 
		&:first-child
			border-left: 0
		&:hover
			background: #e2eef3 
			.calendar__date
				color: $rose
		&.is-inactive
			.calendar__date
				color: #d4d4d4 
	&__date
		font-size: 12px
		position: absolute
		right: 0
		top: 0
		padding: 4px 
		+tr(color .3s)
	&__event
		display: block
		margin: 0 0 5px 
		padding: 2px 8px 
		background: #f6f6f6
		
.calendar-nav
	margin: 27px 0
	text-align: center
	font-size: 0
	height: 22px
	line-height: 22px
	span
		vertical-align: middle
		display: inline-block
		margin: 0 35px
		color: #6d9edc
		font-size: 14px 