.page-top
	padding: 30px 20px 0
	position: relative
	z-index: 2
.breadcrumbs
	display: inline-block
	vertical-align: middle
	
	a
		position: relative
		display: inline-block
		margin-right: 17px
		padding: 2px 0 
		vertical-align: top
		border-bottom: 3px solid 
		line-height: 1
		color: $gray_l
		font-size: 18px
		+cond
		text-transform: uppercase  
		&:hover
			color: #000 
		&.is-active
			color: #000
			pointer-events: none
			border-color: $rose  
		&:first-child
			&:before
				display: none
		&:before
			content: ""
			position: absolute
			left: -10px
			top: 9px
			+svg(angle-r,6,8) 
.article
	margin-bottom: 36px
	img 
		margin: 0 0 20px 0
		&[align="left"]
			margin-right: 20px
			+ h2
				position: relative
				top: -5px
		&[align="right"]
			margin-left: 20px
	h1, h2, h3, h4, h5, h6
		margin-bottom: 23px 
		+cond
		font-weight: normal
		color: #000
	h1
		font-size: 18px
	h2
		font-size: 16px 
	h3, h4, h5, h6
		font-size: 14px
	.categ
		margin-bottom: 26px 
	p
		margin-bottom:  28px
		+light
.person
	padding: 0 0 20px 0
	background-color: #F8F8F8
	&__top
		margin-bottom: 20px
		margin-right: 20px
	&__img
		float: left
		width: 75px
		margin-right: 24px
		img
			max-width: 100%
	&__who
		overflow: hidden
		text-align: left
		vertical-align: middle
	.title-link
		margin: 15px 0 21px
	&__position
		margin-bottom: 11px
		+bold
		font-weight: normal 
		font-size: 12px
		color: #7F7F7F 
	&__company
		font-size: 12px
	&__btn
		text-align: center
		a
			display: inline-block
			background-color: #F8F8F8  
.benefit
	padding: 22px 20px 
	margin: 20px 
	background-color: #fafafa
	border: 1px solid #f8f8f8
	&__top
		text-align: left
		margin-bottom: 20px
	&__number
		display: inline-block
		vertical-align: middle
		height: 39px
		width: 39px
		background-color: $border
		color: #FFF
		+light
		font-size: 26px
		text-align: center
		margin-right: 20px 
	&__title
		display: inline-block
		vertical-align: middle
		+cond
		color: #000
		font-size: 16px
.banner__center
	text-align: center
	.banner__title
		text-align: center
