.page-top
	+ .masonry
		margin-top: 25px


.sidenav
	padding: 14px 20px 14px 45px
	font-size: 18px
	text-transform: uppercase
	+cond
	li
		margin-bottom: 30px
		&.is-active
			a
				border-color: $rose
			.btn-more
				display: block

	a
		display: inline-block 
		position: relative
		border-bottom: 3px solid transparent 
		color: #000
		+tr(border .3s)
		&:hover
			border-color: $rose
		.btn-more
			position: absolute
			right: -40px
			top: 3px
			display: none
			
.form
	+clr
	&__left
		float: left
		width: 41.5%
	&__right
		float: right
		padding-left: 20px
		width: 58.5%
		
.form-item
	display: inline-block
	vertical-align: middle
	padding: 0 9px 9px
	background: #f8f8f8
	.input
		background: #f9f9f9 
	.search-form
		width: 238px
	.search-form,
	.field
		display: inline-block
		margin: 9px 8px 0 0
		vertical-align: top
		margin-bottom: 0
	.field_cat
		width: 158px
		
.panel
	margin: 0 0 20px 
	background: #fafafa 
	border: 1px solid #f8f8f8
	border-bottom-width: 2px
	&__title
		position: relative
		padding: 12px 53px
		font-size: 16px
		+cond 
		color: #000 
		+tr(color .3s)
		cursor: pointer
		+nosel
		&.is-active
			&:after
				+rotate(-180)
				top: 18px
		&:hover
			color: $rose 
			&:before
				border-color: $rose
			&:after
				+arr(9,6,$rose,b)
		&:before
			content: ""
			position: absolute
			top: 9px
			left: 9px
			width: 24px
			height: 25px
			border: 2px solid #abafb3
			+tr(border .3s)
		&:after
			content: ""
			position: absolute
			top: 20px
			left: 17px
			+arr(9,6,#abafb3,b) 
			will-change: transform
			+transition(transform .3s, border .3s)
	&__body
		display: none
		padding: 7px 54px 15px
		font-size: 12px
		line-height: 1.67
		p
			margin-bottom: 20px
		
.user
	display: inline-block
	position: relative
	font-size: 12px
	color: $blue
	+tr(color .3s)
	&:hover
		color: $blue_d 
	i
		display: inline-block
		margin: -3px 6px 0 0 
		vertical-align: middle
		 
.comment
	padding: 20px
	margin: 20px 0
	background-color: #fafafa
	border: 1px solid #f8f8f8
	&__head
		position: relative
		margin-bottom: 15px
	&__img
		display: inline-block
		vertical-align: middle
		margin-right: 15px
		border: 1px solid #68717a
		height: 34px
		width: 34px
		+tr(opacity .3s)
		&:hover
			opacity: 0.9
	&__name
		display: inline-block
		vertical-align: middle
		color: $blue
		+tr(color .3s)
		&:hover
			color: $blue_d 
	&__meta
		position: absolute
		right: 0
		top: 0
	&__text
		font-size: 12px
		color: $gray_l 
		p
			margin-bottom: 16px
	&__action
		text-align: right
		.btn
			min-width: 100px
			
.map
	position: relative
	overflow: hidden
	img
		display: block
		width: 100%
		height: auto
	&__marker
		position: absolute
		width: 18px
		height: 26px
