.l-row
	padding: 31px 22px 
	+clr
	&:last-child
		padding-bottom: 30px
	&_gray
		background: #f8f8f8 
		padding-bottom: 0
		margin-top: 20px
	&_table
		padding: 0
		display: table
		width: 100%
		&:after
			display: none
	&_mod
		padding-right: 10px
.l-cell-big,
.l-cell-small
	display: table-cell
	vertical-align: top
.l-cell-big
	.title
		padding: 25px 22px 0
.l-cell-small
	width: 24.7%
	&.is-blue
		background: #4382d1 
	+ .l-cell-big
		border-right: 2px solid #fff 
.l-row-in
	+clr
	margin-left: -22px
	&.has-inline-items
		font-size: 0
		.l-col2,
		.l-col3,
		.l-col4
			float: none
			display: inline-block
			vertical-align: top
.l-row-table
	display: table
	width: 100%
	table-layout: fixed
	.l-col4
		display: table-cell
		float: none
		vertical-align: top
	
.l-col4
	float: left
	position: relative
	padding-left: 20px
	width: 25%
.l-col3
	position: relative
	padding-left: 20px
	float: left
	width: 32.9%
.l-col2
	position: relative
	padding-left: 20px
	float: left
	width: 50%
	&.has-margin
		margin-bottom: 56px
.l-col1
	position: relative
	padding-left: 20px
	margin: 20px 0
	clear: both
	width: 100%
	
.l-cols
	display: table
	width: 100%
	table-layout: fixed
	&_margin	
		margin: -30px 0 0 
	&_padding
		padding-right: 20px
		padding-bottom: 20px
.l-col-width
	display: table-cell
	vertical-align: top
	// &.has-padding
	// 	padding: 40px 0 20px 
	&__in 
		padding: 30px 20px 
.l-col-small
	display: table-cell
	vertical-align: top
	width: 300px
	background: #f4f4f4 
	+r(1500)
		width: 240px
	&.is-fluid
		width: 31%
		+r(1500)
			width: 31%
	&.no-bg
		background: none
	&.has-blue-bg
		background: #e2eef3 
	&.has-bg
		background: #4382d1
	&__in 
		padding: 30px 20px 
.l-col-right
	display: table-cell
	vertical-align: top
	width: 275px
.l-col-left
	display: table-cell
	padding-right: 20px
	vertical-align: top