doctype
html

	head
		include _head.jade
		title title
	body
		<!-- BEGIN out -->
		.out
			
			label.field
				input.input(type="text", placeholder="vfvf")
			a.btn(href="#") Вступить
			
		<!-- END out -->