<!-- BEGIN footer -->
.footer
	.footer__main
		.footer__info
			.footer__logo
				a(href="#")
					img(src="img/logo2.png", alt="img")
			.footer__tel
				a(href="tel:74952320729")
					| +7 (495) 232-07-29
			.footer__email
				a(href="mailto:info@steel-development.ru")
					| info@steel-development.ru
		.footer__nav-wrap
			.footer__nav
				.footer__categ 
					a(href="#") Инженерный центр
				ul.footer__list
					li
						a(href="#") О центре
					li
						a(href="#") Проекты
					li
						a(href="#") Кейсы
					li
						a(href="#") Карта объектов
				
			.footer__nav
				.footer__categ 
					a(href="#") Нормативно-технический центр
				ul.footer__list
					li
						a(href="#") О центре
					li
						a(href="#") Проекты
					li
						a(href="#") Библиотека документов
					li
						a(href="#")
			.footer__nav
				.footer__categ 
					a(href="#") научно-образовательный центр
				ul.footer__list
					li
						a(href="#") О центре
					li
						a(href="#") Проекты
					li
						a(href="#") Библиотека
					li
						a(href="#") Аналитика
					li
						a(href="#") FAQ
			.footer__nav
				.footer__categ 
					a(href="#") Инженерный центр
				ul.footer__list
					li
						a(href="#") О центре
					li
						a(href="#") Новости
					li
						a(href="#") СМИ о нас
					li
						a(href="#") Мероприятия
					li
						a(href="#") Мультимедиа
					li
						a(href="#") Для СМИ
	.footer__meta
		© 2014 Ассоциация развития стального строительства
<!-- END footer -->
script(src="js/lib/head.js", data-headjs-load="js/init.js")
