header.header
	a.header__logo(href="#")
		img(src="img/logo.png", alt="img")
	ul.menu
		li.menu__item
			a(href="#").menu__link Инженерный центр
		li.menu__item
			a(href="#").menu__link Нормативно-технический центр
		li.menu__item
			a(href="#").menu__link Научно-образовательный центр
			ul.menu__drop
				li
					a(href="#") О центре
				li
					a(href="#") Проекты
				li
					a(href="#") Библиотека
				li
					a(href="#") Аналитика
				li
					a(href="#") FAQ
		li.menu__item
			a(href="#").menu__link Медиацентр
	.header__action
		.header__link
			a(href="#") Об ассоциации
		.header__enter 
			a.btn(href="#") Вступить