.nav
	.nav__in
		.search-form
			input.input(type="text" placeholder="Поиск")
			button.search-form__btn(type="submit")
		ul.nav__list
			li
				a(href="#") 
					i.icon-project
						em 9
					span Мои проекты
			li
				a(href="#") 
					i.icon-event
					span Мои события
			li
				a(href="#") 
					i.icon-categ
						em 12
					span Мои категории
			li
				a(href="#") 
					i.icon-add
					span Категория
			li
				a(href="#") 
					i.icon-add
					span Категория
			li
				a(href="#") 
					i.icon-ask
					span Задать вопрос