doctype
html

	head
		include _head.jade
		title i-center-ceis
	body
		<!-- BEGIN header -->
		include _header.jade
		<!-- END header -->

		<!-- BEGIN nav -->
		include _nav.jade
		<!-- END nav -->

		<!-- BEGIN out -->
		.out 
			<!-- BEGIN center -->
			.l-center
				<!-- BEGIN banner -->
				.banner.banner_title
					img(src="img/banner2.jpg", alt="img")
					.banner__title 
						span Мой календарь
				<!-- END banner -->

				<!-- BEGIN cols -->
				.l-cols
					<!-- BEGIN l-col-left -->
					.l-col-width
						.page-top
							.breadcrumbs
								a(href="#") ИЦ    
								a(href="#") Кейсы
								a(href="#").is-active Название кейса
						.l-col-width__in
							.article
								img(src="http://lorempixel.com/276/170/", alt="img", align="left")
								h2 Заголовок
								a.categ(href="#")
									| Название категории
									span 5
								p Функция B(x,y) поддерживает комплексный криволинейный интеграл. Теорема Ферма очевидна не для всех. Подынтегральное выражение восстанавливает равновероятный интеграл от функции, обращающейся в бесконечность вдоль линии. Легко проверить, что умножение двух векторов (векторное) специфицирует график функции многих переменных, дальнейшие выкладки оставим студентам в качестве несложной домашней работы. Целое число, общеизвестно, обуславливает метод последовательных приближений, как и предполагалось. Мнимая единица, следовательно, соответствует линейно зависимый интеграл по ориентированной области.Иррациональное число, как следует из вышесказанного, проецирует анормальный постулат. Начало координат ускоряет расходящийся ряд. Надо сказать, что криволинейный интеграл позиционирует лист Мёбиуса.
								p Абсолютно сходящийся ряд неограничен сверху. Аксиома по-прежнему востребована. Разрыв функции упорядочивает многомерный предел последовательности.
								h2 Заголовок
								p Функция B(x,y) поддерживает комплексный криволинейный интеграл. Теорема Ферма очевидна не для всех. Подынтегральное выражение восстанавливает равновероятный интеграл от функции, обращающейся в бесконечность вдоль линии. Легко проверить, что умножение двух векторов (векторное) специфицирует график функции многих переменных, дальнейшие выкладки оставим студентам в качестве несложной домашней работы. Целое число, общеизвестно, обуславливает метод последовательных приближений, как и предполагалось. Мнимая единица, следовательно, соответствует линейно зависимый интеграл по ориентированной области.Иррациональное число, как следует из вышесказанного, проецирует анормальный постулат. Начало координат ускоряет расходящийся ряд. Надо сказать, что криволинейный интеграл позиционирует лист Мёбиуса.
								p Иррациональное число, как следует из вышесказанного, проецирует анормальный постулат. Начало координат ускоряет расходящийся ряд. Надо сказать, что криволинейный интеграл позиционирует лист Мёбиуса.
								p Абсолютно сходящийся ряд неограничен сверху. Аксиома по-прежнему востребована. Разрыв функции упорядочивает многомерный предел последовательности.
							.comment
								.comment__block
									.comment__user
										a.comment__img(href="#")
											img(src="http://lorempixel.com/32/32/people", alt="img")
										a.comment__name(href="#") Иван Иванович
										.comment__meta
											.date 22 октября 2014
									.comment__text

								.comment__block
									.comment__user
										.comment__img
										.comment__name
									.comment__meta
									.comment__text
					<!-- END l-col-left -->

					<!-- BEGIN l-col-small -->
					.l-col-small
						.l-col-small__in
							include _sidebar.jade
					<!-- END l-col-small -->

				<!-- END cols -->
			<!-- END center -->
			.push

		<!-- END out -->

		<!-- BEGIN footer -->	
		include _footer.jade
		<!-- END footer -->