doctype
html

	head
		include _head.jade
		title title
	body
		<!-- BEGIN header -->
		include _header.jade
		<!-- END header -->

		<!-- BEGIN nav -->
		include _nav.jade
		<!-- END nav -->

		<!-- BEGIN out -->
		.out
			<!-- BEGIN center -->
			.l-center
				<!-- BEGIN banner -->
				.banner
					img(src="img/banner.jpg", alt="img")
					.banner__title Ассоциация развития стального строительства 
						strong АРСС
					.banner__info
						.banner__box
							| АРСС – это объединение профессионалов рынка стального строительства 
							| (производителей и поставщиков проката, заводов металлоконструкций, 
							| монтажников, проектировщиков, архитекторов, научного сообщества),
							| видящих своей целью продвижение широкого использования металлоконструкций 
							| во всех видах гражданского и промышленного строительства.
						.banner__box.is-small
							| Мы ломаем бетонные «стереотипы» мышления инвесторов,
							| девелоперов, архитекторов и проектировщиков, 
							| помогая им сделать выбор в пользу металлоконструкций.
				<!-- END banner -->

				<!-- BEGIN row -->
				.l-row
					.title 
						a.title__link(href="#") Проекты
						a.btn-more(href="#")
					.l-row-in
						.slider
							.js-slick
								.l-col4
									.item
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
											a.item__more(href="#")
										.item__body
											a.title-link(href="#") Название проекта
											ul
												li 
													strong Описание: 
													| Выплавка стали
												li 
													strong Владелец: 
													| User1
												li 
													strong Участники:
													| User1, User2, User3, User1, User2
											.item__meta
												a.categ(href="#")
													| Название категории
													span 11
												a.comm-count(href="#") 20
								.l-col4
									.item
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
											a.item__more(href="#")
										.item__body
											a.title-link(href="#") Название проекта
											ul
												li 
													strong Описание: 
													| Выплавка стали
												li 
													strong Владелец: 
													| User1
												li 
													strong Участники:
													| User1, User2, User3, User1, User2
											.item__meta
												a.categ(href="#")
													| Название категории
													span 11
												a.comm-count(href="#") 20
								.l-col4
									.item
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
											a.item__more(href="#")
										.item__body
											a.title-link(href="#") Название проекта
											ul
												li 
													strong Описание: 
													| Выплавка стали
												li 
													strong Владелец: 
													| User1
												li 
													strong Участники:
													| User1, User2, User3, User1, User2
											.item__meta
												a.categ(href="#")
													| Название категории
													span 11
												a.comm-count(href="#") 20
								.l-col4
									.item
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
											a.item__more(href="#")
										.item__body
											a.title-link(href="#") Название проекта
											ul
												li 
													strong Описание: 
													| Выплавка стали
												li 
													strong Владелец: 
													| User1
												li 
													strong Участники:
													| User1, User2, User3, User1, User2
											.item__meta
												a.categ(href="#")
													| Название категории
													span 11
												a.comm-count(href="#") 20
								.l-col4
									.item
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
											a.item__more(href="#")
										.item__body
											a.title-link(href="#") Название проекта
											ul
												li 
													strong Описание: 
													| Выплавка стали
												li 
													strong Владелец: 
													| User1
												li 
													strong Участники:
													| User1, User2, User3, User1, User2
											.item__meta
												a.categ(href="#")
													| Название категории
													span 11
												a.comm-count(href="#") 20
								.l-col4
									.item
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
											a.item__more(href="#")
										.item__body
											a.title-link(href="#") Название проекта
											ul
												li 
													strong Описание: 
													| Выплавка стали
												li 
													strong Владелец: 
													| User1
												li 
													strong Участники:
													| User1, User2, User3, User1, User2
											.item__meta
												a.categ(href="#")
													| Название категории
													span 11
												a.comm-count(href="#") 20
								.l-col4
									.item
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
											a.item__more(href="#")
										.item__body
											a.title-link(href="#") Название проекта
											ul
												li 
													strong Описание: 
													| Выплавка стали
												li 
													strong Владелец: 
													| User1
												li 
													strong Участники:
													| User1, User2, User3, User1, User2
											.item__meta
												a.categ(href="#")
													| Название категории
													span 11
												a.comm-count(href="#") 20
								.l-col4
									.item
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
											a.item__more(href="#")
										.item__body
											a.title-link(href="#") Название проекта
											ul
												li 
													strong Описание: 
													| Выплавка стали
												li 
													strong Владелец: 
													| User1
												li 
													strong Участники:
													| User1, User2, User3, User1, User2
											.item__meta
												a.categ(href="#")
													| Название категории
													span 11
												a.comm-count(href="#") 20
				<!-- END row -->

				<!-- BEGIN row -->
				.l-row.l-row_gray.l-row_table
					.l-cell-big
						.title 
							a.title__link(href="#") Новости
							a.btn-more(href="#")
						.l-col3
							.item
								.item__media
									a(href="#")
										img(src="img/item3.jpg", alt="img")
									a.item__more(href="#")
								.item__body
									.date
										span 22   
										| октября 2014
									a.title-link(href="#") НАСА смоделировало первый полет многоразового космического корабля Orion
									p
										| Новый аппарат предполагается вывести на орбиту с помощью ракеты-носителя Delta IV 
										| Heavy в декабре 2014 года.
								.item__meta
									a.categ(href="#")
										| Название категории
										span 11
						.l-col3
							.item
								.item__media
									a(href="#")
										img(src="img/item3.jpg", alt="img")
									a.item__more(href="#")
								.item__body
									.date
										span 22   
										| октября 2014
									a.title-link(href="#") НАСА смоделировало первый полет многорacазового космического
									p
										| Новый аппарат предполагается вывести на орбиту с помощью ракеты-носителя Delta IV 
										| Heavy в декабре 2014 года.
								.item__meta
									a.categ(href="#")
										| Название категории
										span 11
						.l-col3
							.item.item_related
								.item__body
									.date
										span 22   
										| октября 2014
									a.title-link(href="#") НАСА смоделировало первый полет многорacазового космического
									p
										| Новый аппарат предполагается вывести на орбиту с помощью ракеты-носителя Delta IV 
										| Heavy в декабре 2014 года.
								.item__meta
									a.categ(href="#")
										| Название категории
										span 11
							.item.item_related
								.item__body
									.date
										span 22   
										| октября 2014
									a.title-link(href="#") НАСА смоделировало первый полет многорacазового космического
									p
										| Новый аппарат предполагается вывести на орбиту с помощью ракеты-носителя Delta IV 
										| Heavy в декабре 2014 года.
								.item__meta
									a.categ(href="#")
										| Название категории
										span 11
					.l-cell-small.is-blue
						.box
							.title.title_white
								a.title__link(href="#") Категории
								a.btn-more(href="#")
							ul.box__list
								li
									a(href="#") 
										| Кровля и фасады
										span 6
								li
									a(href="#") 
										| ЛСТК
										span 6
								li
									a(href="#") 
										| Монтаж
										span 6
								li
									a(href="#") 
										| МФК
										span 6
								li
									a(href="#") 
										| Огнезащита
										span 6
								li
									a(href="#") 
										| Офисы
										span 6
								li
									a(href="#") 
										| Проектирование
										span 6
								li
									a(href="#") 
										| Производство
										span 6
								li
									a(href="#") 
										| Реконструкция
										span 6
								li
									a(href="#") 
										| Технологии
										span 6
				<!-- END row -->

				<!-- BEGIN row -->
				.l-row.l-row_gray.l-row_table
					.l-cell-small.is-blue
						.box
							.title.title_white
								a.title__link(href="#") Календарь
								a.btn-more(href="#")
							.js-datepicker
					.l-cell-big
						.item.item_short
							.item__left
								.date-box
									span 7-9
									div Октября
							.item__body
								a.title-link(href="#") НАСА смоделировало первый полет многорacазового космического
								p
									| Новый аппарат предполагается вывести на орбиту с помощью ракеты-носителя Delta IV 
									| Heavy в декабре 2014 года.
						.item.item_short
							.item__left
								.date-box
									span 7-9
									div Октября
							.item__body
								a.title-link(href="#") НАСА смоделировало первый полет многорacазового космического
								p
									| Новый аппарат предполагается вывести на орбиту с помощью ракеты-носителя Delta IV Heavy в 
									| декабре 2014 года. Первые испытания корабля Orion включают Новый аппарат предполагается 
									| вывести на орбиту с помощью ракеты-носителя Delta IV Heavy в декабре 2014 года.
									| Первые испытания корабля Orion включают
					.l-cell-small.is-gray
						.box
							.title
								a.title__link(href="#") Консультация эксперта
							.item
								.item__media
									a(href="#")
										img(src="img/item.jpg", alt="img")
									a.item__more(href="#")
								.item__body
									p Новый аппарат предполагается вывести на орбиту с помощью ракеты- носителя
										| Delta IV Heavy в декабре 2014 года
									.to-center
										a.btn.btn_medium(href="#") Задать вопрос
				
				<!-- BEGIN row -->
				.l-row.l-row_gray
					.title
						a.title__link(href="#") Кейсы
						a.btn-more(href="#")
					.l-row-in
						.slider
							.js-slick
								.l-col4
									.item
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
											a.item__more(href="#")
										.item__body
											a.title-link(href="#") Помощь в подборе и покупке оборудования
											p
												| Новый аппарат предполагается вывести на орбиту с помощью ракеты-носителя Delta IV 
												| Heavy в декабре 2014 года.
								.l-col4
									.item
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
											a.item__more(href="#")
										.item__body
											a.title-link(href="#") Помощь в подборе и покупке оборудования
											p
												| Новый аппарат предполагается вывести на орбиту с помощью ракеты-носителя Delta IV 
												| Heavy в декабре 2014 года.
								.l-col4
									.item
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
											a.item__more(href="#")
										.item__body
											a.title-link(href="#") Помощь в подборе и покупке оборудования
											p
												| Новый аппарат предполагается вывести на орбиту с помощью ракеты-носителя Delta IV 
												| Heavy в декабре 2014 года.
								.l-col4
									.item
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
											a.item__more(href="#")
										.item__body
											a.title-link(href="#") Помощь в подборе и покупке оборудования
											p
												| Новый аппарат предполагается вывести на орбиту с помощью ракеты-носителя Delta IV 
												| Heavy в декабре 2014 года.
								.l-col4
									.item
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
											a.item__more(href="#")
										.item__body
											a.title-link(href="#") Помощь в подборе и покупке оборудования
											p
												| Новый аппарат предполагается вывести на орбиту с помощью ракеты-носителя Delta IV 
												| Heavy в декабре 2014 года.
								.l-col4
									.item
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
											a.item__more(href="#")
										.item__body
											a.title-link(href="#") Помощь в подборе и покупке оборудования
											p
												| Новый аппарат предполагается вывести на орбиту с помощью ракеты-носителя Delta IV 
												| Heavy в декабре 2014 года.
								.l-col4
									.item
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
											a.item__more(href="#")
										.item__body
											a.title-link(href="#") Помощь в подборе и покупке оборудования
											p
												| Новый аппарат предполагается вывести на орбиту с помощью ракеты-носителя Delta IV 
												| Heavy в декабре 2014 года.
								.l-col4
									.item
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
											a.item__more(href="#")
										.item__body
											a.title-link(href="#") Помощь в подборе и покупке оборудования
											p
												| Новый аппарат предполагается вывести на орбиту с помощью ракеты-носителя Delta IV 
												| Heavy в декабре 2014 года.
				<!-- END row -->
			<!-- END center -->
			.push

		<!-- END out -->
		<!-- BEGIN ovarlay -->

		.overlay.js-overlay
		<!-- END ovarlay -->

		<!-- BEGIN popup -->
		.popup-wrap.js-popup(data-popup="js-popup-enter")
			.popup
				.popup__title Вступить
				label.field
					input.input(type="text", placeholder="ФИО")
				label.field
					input.input(type="email", placeholder="E-mail")
				label.field
					input.input(type="text", placeholder="Организация")
				label.field
					input.input(type="text", placeholder="Должность")
				.to-center
					button.btn(type="submit") Зарегистрироваться
				button.btn-close.js-popup-close(type="button")
				.popup__links
					p 
						a(href="#") или Войти
					p
						a(href="#") Условия вступления
		<!-- END popup -->
		
		<!-- BEGIN footer -->	
		include _footer.jade
		<!-- END footer -->