doctype
html

	head
		include _head.jade
		title m-center-news
	body
		<!-- BEGIN header -->
		include _header.jade
		<!-- END header -->

		<!-- BEGIN nav -->
		include _nav.jade
		<!-- END nav -->

		<!-- BEGIN out --> 
		.out 
			<!-- BEGIN center -->
			.l-center
				<!-- BEGIN banner -->
				.banner.banner_static
					img(src="img/banner6.jpg", alt="img")
					.banner__box
						.banner__title 
							span Новоacти
						p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. 
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с 
						| начала XVI века. В то время некий безымянный печатник 
						| создалбольшую коллекцию размеров и форм шрифтов, 
						| используя Lorem Ipsum для распечатки образцов.
				<!-- END banner -->

				<!-- BEGIN cols -->
				.l-cols
					<!-- BEGIN l-col-width -->
					.l-col-width
						.l-cols
							.l-col-width
								.page-top
									.breadcrumbs
										a(href="#") МЦ    
										a(href="#").is-active Новости
									.form-item
										.search-form
											input.input(type="text" placeholder="Поиск")
											button.search-form__btn(type="submit")
										.field.field_cat
											.select.js-select
												.select__text.js-select-text Категория
												ul.select__list.js-select-list
													li
														a(href="0") Категория
													li
														a(href="1") Категория1
													li
														a(href="2") Категория2
													li
														a(href="3") Категория3
												select(hidden)
													option(value="0") Категория
													option(value="1") Категория1
													option(value="2") Категория2
													option(value="3") Категория3
										.field.field_inline.js-add-btn(data-hidden="js-hidden-field")
											button.btn-add
												i +
									.js-hidden-field(hidden)
										.field.field_cat
											.select.js-select
												.select__text.js-select-text Категория
												ul.select__list.js-select-list
													li
														a(href="0") Категория
													li
														a(href="1") Категория1
													li
														a(href="2") Категория2
													li
														a(href="3") Категория3
												select(hidden)
													option(value="0") Категория
													option(value="1") Категория1
													option(value="2") Категория2
													option(value="3") Категория3
								.l-col-width__in
									.item.item_row
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
										.item__body
											.item__head
												a.title-link(href="#") Название проекта
											.item__main
												ul
													li 
														strong Описание: 
														| Выплавка стали
													li 
														strong Владелец: 
														| User1
													li 
														strong Участники:
														| User1, User2, User3, User1, User2
											.item__meta
												a.categ(href="#")
													| Название категории
													span 11
												span.date.date_gray
													span 02   
													|октября 2014
												a.user(href="#") 
													i.icon-user 
													| Иван Иванович
												a.comm-count(href="#") 20
									.item.item_row
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
										.item__body
											.item__head
												a.title-link(href="#") Название проекта
											.item__main
												ul
													li 
														strong Описание: 
														| Выплавка стали
													li 
														strong Владелец: 
														| User1
													li 
														strong Участники:
														| User1, User2, User3, User1, User2
											.item__meta
												a.categ(href="#")
													| Название категории
													span 11
												span.date.date_gray
													span 02   
													|октября 2014
												a.user(href="#") 
													i.icon-user 
													| Иван Иванович
												a.comm-count(href="#") 20
									.item.item_row
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
										.item__body
											.item__head
												a.title-link(href="#") Название проекта
											.item__main
												ul
													li 
														strong Описание: 
														| Выплавка стали
													li 
														strong Владелец: 
														| User1
													li 
														strong Участники:
														| User1, User2, User3, User1, User2
											.item__meta
												a.categ(href="#")
													| Название категории
													span 11
												span.date.date_gray
													span 02   
													|октября 2014
												a.user(href="#") 
													i.icon-user 
													| Иван Иванович
												a.comm-count(href="#") 20
									.item.item_row
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
										.item__body
											.item__head
												a.title-link(href="#") Название проекта
											.item__main
												ul
													li 
														strong Описание: 
														| Выплавка стали
													li 
														strong Владелец: 
														| User1
													li 
														strong Участники:
														| User1, User2, User3, User1, User2
											.item__meta
												a.categ(href="#")
													| Название категории
													span 11
												span.date.date_gray
													span 02   
													|октября 2014
												a.user(href="#") 
													i.icon-user 
													| Иван Иванович
												a.comm-count(href="#") 20
									.item.item_row
										.item__media
											a(href="#")
												img(src="img/item.jpg", alt="img")
										.item__body
											.item__head
												a.title-link(href="#") Название проекта
											.item__main
												ul
													li 
														strong Описание: 
														| Выплавка стали
													li 
														strong Владелец: 
														| User1
													li 
														strong Участники:
														| User1, User2, User3, User1, User2
											.item__meta
												a.categ(href="#")
													| Название категории
													span 11
												span.date.date_gray
													span 02   
													|октября 2014
												a.user(href="#") 
													i.icon-user 
													| Иван Иванович
												a.comm-count(href="#") 20
									.pager
										a(href="#").pager__nav.pager__prev.is-disabled
										a(href="#").is-active 1
										a(href="#") 2
										a(href="#") 3
										a(href="#") 4
										a(href="#") 5
										a(href="#") 6
										a(href="#") 7
										a(href="#") ...
										a(href="#") 27
										a(href="#").pager__nav.pager__next
					<!-- END l-col-width -->

					<!-- BEGIN l-col-small -->
					.l-col-small
						.l-col-small__in
							include _sidebar.jade
					<!-- END l-col-small -->

				<!-- END cols -->
			<!-- END center -->
			.push

		<!-- END out -->

		<!-- BEGIN footer -->	
		include _footer.jade
		<!-- END footer -->