doctype
html

	head
		include _head.jade
		title no-center-statya
	body
		<!-- BEGIN header -->
		include _header.jade
		<!-- END header -->

		<!-- BEGIN nav -->
		include _nav.jade
		<!-- END nav -->

		<!-- BEGIN out -->
		.out 
			<!-- BEGIN center -->
			.l-center 
				<!-- BEGIN banner -->
				.banner.banner_static
					img(src="img/banner5.jpg", alt="img")
					.banner__box
						.banner__title 
							span Аналитика
						p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. 
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с 
						| начала XVI века. В то время некий безымянный печатник 
						| создалбольшую коллекцию размеров и форм шрифтов, 
						| используя Lorem Ipsum для распечатки образцов.
				<!-- END banner -->
				<!-- BEGIN cols -->
				.l-cols
					<!-- BEGIN l-col-width -->
					.l-col-width
						.page-top
							.breadcrumbs
								a(href="#") НОЦ                
								a(href="#") Аналитика
								a(href="#").is-active Заголовок аналитической статьи
						.l-col-width__in
							.article
								img(src="img/item.jpg", alt="img", align="left")
								.article__meta
									a.categ(href="#")
										| Название категории
										span 11
									span.date.date_gray
										span 02   
										|октября 2014
									a.user(href="#") 
										i.icon-user 
										| Иван Иванович
									a.comm-count(href="#") 20
								p Функция B(x,y) поддерживает комплексный криволинейный интеграл. Теорема Ферма очевидна не для всех. Подынтегральное выражение восстанавливает равновероятный интеграл от функции, обращающейся в бесконечность вдоль линии. Легко проверить, что умножение двух векторов (векторное) специфицирует график функции многих переменных, дальнейшие выкладки оставим студентам в качестве несложной домашней работы. Целое число, общеизвестно, обуславливает метод последовательных приближений, как и предполагалось. Мнимая единица, следовательно, соответствует линейно зависимый интеграл по ориентированной области.Иррациональное число, как следует из вышесказанного, проецирует анормальный постулат. Начало координат ускоряет расходящийся ряд. Надо сказать, что криволинейный интеграл позиционирует лист Мёбиуса.
								p Абсолютно сходящийся ряд неограничен сверху. Аксиома по-прежнему востребована. Разрыв функции упорядочивает многомерный предел последовательности.
								p Функция B(x,y) поддерживает комплексный криволинейный интеграл. Теорема Ферма очевидна не для всех. Подынтегральное выражение восстанавливает равновероятный интеграл от функции, обращающейся в бесконечность вдоль линии. Легко проверить, что умножение двух векторов (векторное) специфицирует график функции многих переменных, дальнейшие выкладки оставим студентам в качестве несложной домашней работы. Целое число, общеизвестно, обуславливает метод последовательных приближений, как и предполагалось. Мнимая единица, следовательно, соответствует линейно зависимый интеграл по ориентированной области.Иррациональное число, как следует из вышесказанного, проецирует анормальный постулат. Начало координат ускоряет расходящийся ряд. Надо сказать, что криволинейный интеграл позиционирует лист Мёбиуса.
								p Иррациональное число, как следует из вышесказанного, проецирует анормальный постулат. Начало координат ускоряет расходящийся ряд. Надо сказать, что криволинейный интеграл позиционирует лист Мёбиуса.
							<!-- BEGIN row -->
							.l-row
								.title 
									a.title__link(href="#") Похожие статьи
									a.btn-more(href="#")
								.l-row-in
									.slider
										.js-slick-col3
											.l-col3
												.item
													.item__media
														a(href="#")
															img(src="img/item.jpg", alt="img")
														a.item__more(href="#")
													.item__body
														.date.date_gray 
															span 02   
															| октября 2014
														a.title-link(href="#") РАЭК начала разработку правил электронной коммерции
														p Российская ассоциация электронных коммуникаций (РАЭК) начала разработку правил интернет-торговли в рамках недавно созданного кластера «РАЭК/Электронная коммерция».
													.item__meta
														a.user(href="#")
															i.icon-user 
															| Иван Иванович
														a.comm-count(href="#") 20
											.l-col3
												.item
													.item__media
														a(href="#")
															img(src="img/item.jpg", alt="img")
														a.item__more(href="#")
													.item__body
														.date.date_gray 
															span 02   
															| октября 2014
														a.title-link(href="#") РАЭК начала разработку правил электронной коммерции
														p Российская ассоциация электронных коммуникаций (РАЭК) начала разработку правил интернет-торговли в рамках недавно созданного кластера «РАЭК/Электронная коммерция».
													.item__meta
														a.user(href="#")
															i.icon-user 
															| Иван Иванович
														a.comm-count(href="#") 20
											.l-col3
												.item
													.item__media
														a(href="#")
															img(src="img/item.jpg", alt="img")
														a.item__more(href="#")
													.item__body
														.date.date_gray 
															span 02   
															| октября 2014
														a.title-link(href="#") РАЭК начала разработку правил электронной коммерции
														p Российская ассоциация электронных коммуникаций (РАЭК) начала разработку правил интернет-торговли в рамках недавно созданного кластера «РАЭК/Электронная коммерция».
													.item__meta
														a.user(href="#")
															i.icon-user 
															| Иван Иванович
														a.comm-count(href="#") 20
											.l-col3
												.item
													.item__media
														a(href="#")
															img(src="img/item.jpg", alt="img")
														a.item__more(href="#")
													.item__body
														.date.date_gray 
															span 02   
															| октября 2014
														a.title-link(href="#") РАЭК начала разработку правил электронной коммерции
														p Российская ассоциация электронных коммуникаций (РАЭК) начала разработку правил интернет-торговли в рамках недавно созданного кластера «РАЭК/Электронная коммерция».
													.item__meta
														a.user(href="#")
															i.icon-user 
															| Иван Иванович
														a.comm-count(href="#") 20
											.l-col3
												.item
													.item__media
														a(href="#")
															img(src="img/item.jpg", alt="img")
														a.item__more(href="#")
													.item__body
														.date.date_gray 
															span 02   
															| октября 2014
														a.title-link(href="#") РАЭК начала разработку правил электронной коммерции
														p Российская ассоциация электронных коммуникаций (РАЭК) начала разработку правил интернет-торговли в рамках недавно созданного кластера «РАЭК/Электронная коммерция».
													.item__meta
														a.user(href="#")
															i.icon-user 
															| Иван Иванович
														a.comm-count(href="#") 20
											.l-col3
												.item
													.item__media
														a(href="#")
															img(src="img/item.jpg", alt="img")
														a.item__more(href="#")
													.item__body
														.date.date_gray 
															span 02   
															| октября 2014
														a.title-link(href="#") РАЭК начала разработку правил электронной коммерции
														p Российская ассоциация электронных коммуникаций (РАЭК) начала разработку правил интернет-торговли в рамках недавно созданного кластера «РАЭК/Электронная коммерция».
													.item__meta
														a.user(href="#")
															i.icon-user 
															| Иван Иванович
														a.comm-count(href="#") 20
											.l-col3
												.item
													.item__media
														a(href="#")
															img(src="img/item.jpg", alt="img")
														a.item__more(href="#")
													.item__body
														.date.date_gray 
															span 02   
															| октября 2014
														a.title-link(href="#") РАЭК начала разработку правил электронной коммерции
														p Российская ассоциация электронных коммуникаций (РАЭК) начала разработку правил интернет-торговли в рамках недавно созданного кластера «РАЭК/Электронная коммерция».
													.item__meta
														a.user(href="#")
															i.icon-user 
															| Иван Иванович
														a.comm-count(href="#") 20
											.l-col3
												.item
													.item__media
														a(href="#")
															img(src="img/item.jpg", alt="img")
														a.item__more(href="#")
													.item__body
														.date.date_gray 
															span 02   
															| октября 2014
														a.title-link(href="#") РАЭК начала разработку правил электронной коммерции
														p Российская ассоциация электронных коммуникаций (РАЭК) начала разработку правил интернет-торговли в рамках недавно созданного кластера «РАЭК/Электронная коммерция».
													.item__meta
														a.user(href="#")
															i.icon-user 
															| Иван Иванович
														a.comm-count(href="#") 20
							<!-- END row -->
							.comment
								.comment__head
									a.comment__img(href="#")
										img(src="http://lorempixel.com/32/32/people", alt="img")
									a.comment__name(href="#") Иван Иванович
									.comment__meta
										.date 22 октября 2014
								.comment__text
									p Новый аппарат предполагается вывести на орбиту с помощью ракеты-носителя Delta IV Heavy в декабре 2014 года. Первые испытания корабля Orion включают в себя его полет на высоте менее шести тысяч километров над поверхностью Земли в течение 4,5 часов.
								.comment__action
									a.btn.btn_small(href="#") Ответить
							.comment
								.comment__head
									a.comment__img(href="#")
										img(src="http://lorempixel.com/32/32/people", alt="img")
									a.comment__name(href="#") Иван Иванович
									.comment__meta
										.date 22 октября 2014
								.comment__text
									p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
								.comment__action
									a.btn.btn_small(href="#") Ответить 
						
					<!-- END l-col-width -->

					<!-- BEGIN l-col-small -->
					.l-col-small
						.l-col-small__in
							include _sidebar.jade
					<!-- END l-col-small -->

				<!-- END cols -->
			<!-- END center -->
			.push

		<!-- END out -->

		<!-- BEGIN footer -->	
		include _footer.jade
		<!-- END footer -->