doctype
html.has-open-popup

	head
		include _head.jade
		title m-center-categories
	body
		<!-- BEGIN header -->
		include _header.jade
		<!-- END header -->

		<!-- BEGIN nav -->
		include _nav.jade
		<!-- END nav -->

		<!-- BEGIN out --> 
		.out 
			<!-- BEGIN center -->
			.l-center
				<!-- BEGIN banner -->
				.banner.banner_title
					img(src="img/banner7.jpg", alt="img")
					.banner__title 
						span категории
				<!-- END banner -->

				<!-- BEGIN cols -->
				.l-cols
					<!-- BEGIN l-col-width -->
					.l-col-width
						.l-cols
							.l-col-width
								.page-top
									.breadcrumbs
										a(href="#") МЦ    
										a(href="#").is-active Все категории
									.form-item
										.search-form
											input.input(type="text" placeholder="Поиск")
											button.search-form__btn(type="submit")
								.l-col-width__in
									.sort.js-sort
										span.sort__title Сортировать по:
										div.sort__item
											a(href="#").js-sort-link.is-active дате 
											input(type="radio", name="sort-radio", hidden, checked)     
										div.sort__item
											a(href="#").js-sort-link названию
											input(type="radio", name="sort-radio", hidden)
									.l-row-in
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Кровля и фасады
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") ЛСТК
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Монтаж
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Огнезащита
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Офисы
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Проектирование
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Кровля и фасады
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") ЛСТК
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Монтаж
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Огнезащита
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Офисы
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Проектирование
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Кровля и фасады
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") ЛСТК
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Монтаж
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Огнезащита
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Офисы
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Проектирование
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Кровля и фасады
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") ЛСТК
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Монтаж
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Огнезащита
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Офисы
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Проектирование
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Кровля и фасады
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") ЛСТК
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Монтаж
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Огнезащита
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Офисы
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Проектирование
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Кровля и фасады
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") ЛСТК
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Монтаж
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Огнезащита
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Офисы
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
										.categ-wrap.l-col3
											a.categ.categ_gray(href="#") Проектирование
												span 11
											a.btn-favorite.js-popup-link(href="js-popup-add-category")
									.pager
										a(href="#").pager__nav.pager__prev.is-disabled
										a(href="#").is-active 1
										a(href="#") 2
										a(href="#") 3
										a(href="#") 4
										a(href="#") 5
										a(href="#") 6
										a(href="#") 7
										a(href="#") ...
										a(href="#") 27
										a(href="#").pager__nav.pager__next
					<!-- END l-col-width -->

					<!-- BEGIN l-col-small -->
					.l-col-small
						.l-col-small__in
							include _sidebar.jade
					<!-- END l-col-small -->

				<!-- END cols -->
			<!-- END center -->
			.push

		<!-- END out -->

		<!-- BEGIN ovarlay -->
		.overlay.js-overlay(style="display:block")
		<!-- END ovarlay -->

		<!-- BEGIN popup -->
		.popup-wrap.to-center.js-popup.is-visible(data-popup="js-popup-add-category")
			.popup
				.popup__message
					p Добавить категорию в избранное?
				.to-center
					button.btn.js-popup-close(type="button") Нет
					button.btn(type="submit") Да
				button.btn-close.js-popup-close(type="button")
		<!-- END popup -->

		<!-- BEGIN footer -->	
		include _footer.jade
		<!-- END footer -->