doctype
html

	head
		include _head.jade
		title pravila
	body
		<!-- BEGIN header -->
		include _header.jade
		<!-- END header -->

		<!-- BEGIN nav -->
		include _nav.jade
		<!-- END nav -->

		<!-- BEGIN out --> 
		.out 
			<!-- BEGIN center -->
			.l-center
				<!-- BEGIN banner -->
				.banner.banner_static
					img(src="img/banner3.jpg", alt="img")
					.banner__box
						.banner__title 
							span Условия вступления
						p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. 
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с 
						| начала XVI века. В то время некий безымянный печатник 
						| создалбольшую коллекцию размеров и форм шрифтов, 
						| используя Lorem Ipsum для распечатки образцов.
				<!-- END banner -->

				<!-- BEGIN cols -->
				.l-cols
					<!-- BEGIN l-col-width -->
					.l-col-width.has-padding
						.l-cols
							.l-col-small.has-blue-bg 
								ul.sidenav
									li.is-active
										a(href="#") Преимущества
									li
										a(href="#") Правила вступления
											span.btn-more
									li
										a(href="#") Условия членства
											span.btn-more
							.l-col-width
								.l-col-width__in
									.article.article_gray
										h2 Основные положения
										p Если предварительно подвергнуть объекты длительному вакуумированию, то вселенная однородно расщепляет векторный электрон. Интерпретация всех изложенных ниже наблюдений предполагает, что еще до начала измерений солитон последовательно нейтрализует солитон без обмена зарядами или спинами. Эксимер инвариантен относительно сдвига. Вещество, по данным астрономических наблюдений, сжимает коллапсирующий вихрь. 
										h2 Перечень предоставляемых документов
										p
											strong Копии
											|, заверенные нотариально или самим предприятием
										ol
											li Устав
											li Свидетельство ОГРН
											li Решение об избрании единоличного исполнительного органа
											li Протокол (выписка из протокола) Общего собрания акционеров\участников\Совета директоров об одобрении участия в Ассоциации.
										p 
											strong Оригинал 
											|или нотариально заверенная копия
										ol
											li Доверенность на представителя юридического лица
									.l-row-in
										.l-col2
											.info-box
												.info-box__head
													.info-box__icon
														i.icon-note
													.info-box__meta
														a.title-link(href="#") Анкета заявителя
														.date 22 октября 2014
												.info-box__main
													p Функциональный анализ нейтрализует интеграл от функции, имеющий конечный разрыв. Математическое моделирование однозначно показывает 												
										.l-col2
											.info-box
												.info-box__head
													.info-box__icon
														i.icon-note
													.info-box__meta
														a.title-link(href="#") Заявление члена Ассоциации
														.date 22 октября 2014
												.info-box__main
													p Функциональный анализ нейтрализует интеграл от функции, имеющий конечный разрыв. 
													
					<!-- END l-col-width -->
 
					<!-- BEGIN l-col-small -->
					.l-col-small
						.l-col-small__in
							include _sidebar.jade
					<!-- END l-col-small -->

				<!-- END cols -->
			<!-- END center -->
			.push

		<!-- END out -->

		<!-- BEGIN footer -->	
		include _footer.jade
		<!-- END footer -->