doctype
html

	head
		include _head.jade
		title usloviya
	body
		<!-- BEGIN header -->
		include _header.jade
		<!-- END header -->

		<!-- BEGIN nav -->
		include _nav.jade
		<!-- END nav -->

		<!-- BEGIN out --> 
		.out 
			<!-- BEGIN center -->
			.l-center
				<!-- BEGIN banner -->
				.banner.banner_static
					img(src="img/banner3.jpg", alt="img")
					.banner__box
						.banner__title 
							span Условия вступления
						p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. 
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с 
						| начала XVI века. В то время некий безымянный печатник 
						| создалбольшую коллекцию размеров и форм шрифтов, 
						| используя Lorem Ipsum для распечатки образцов.
				<!-- END banner -->

				<!-- BEGIN cols -->
				.l-cols
					<!-- BEGIN l-col-width -->
					.l-col-width.has-padding
						.l-cols
							.l-col-small.has-blue-bg 
								ul.sidenav
									li
										a(href="#") Преимущества
									li
										a(href="#") Правила вступления											
									li.is-active
										a(href="#") Условия членства																			
							.l-col-width
								.l-col-width__in 
									table.table
										thead
											tr.name
												th Тип компании 
												th AISC (США) 
												th УЦСС (Украина)
												th SCI (UK)
												th BCSA (UK)
												th АРСС (Россия)
										tbody
											tr
												td.table__ta-left Вступительный взнос 
												td $550 
												td $200-$2000
												td нет
												td £500 + VAT
												td $500-$2000
											tr
												td.table__ta-left Ежегодные взносы:
												td(colspan="5") 
											tr
												td.table__ta-left Производители проката
												td $1,10 / т.
												td $1,5 / т. (каркас) $0,3 / т. (ЛСТК)
												td 0,3-0,5 m£*(TATA)
												td не входят
												td $0,5 / т.
											tr
												td.table__ta-left Производители металлоконструкций
												td $1,10 / т.										
												td £ оборот / 2100(min £1544)
												td $1,0 / т. (каркас)$0,15 / т. (ЛСТК)
												td £1542 - £53125 (depending on turnover)
												td $0,5 / т.
												
											tr
												td.table__ta-left Дистрибьютеры/Сервисные центры
												td $0,15 / т.
												td $0,15 / т.
												td не входят
												td(rowspan="4") не входят 
												td $0,1 / т.
											tr
												td.table__ta-left Архитекторы/проектировщики
												td $135-$1000
												td $200-$1000
												td £650 + VAT							
												td $500-$1000
											tr
												td.table__ta-left Прочие (монтажники,поставщики сопутствующих материалов)
												td $1000-$5000
												td $1000
												td £1000 - £1500										
												td $1000
											tr
												td.table__ta-left ВУЗы
												td бесплатно
												td бесплатно
												td £800
												td бесплатно									
											tr
												td.table__ta-left Годовой бюджет
												td н/д
												td ~1 m$
												td ~3m£										
												td н/д
												td ~1,7 m$
									.note *1980-1990 - 1,5 m£ / год
					<!-- END l-col-width -->

					<!-- BEGIN l-col-small -->
					.l-col-small
						.l-col-small__in
							include _sidebar.jade
					<!-- END l-col-small -->

				<!-- END cols -->
			<!-- END center -->
			.push

		<!-- END out -->

		<!-- BEGIN footer -->	
		include _footer.jade
		<!-- END footer -->